<main class="p-3 p-md-5 main roboto-regular">

  <div class="position-fixed bottom-0 end-0 m-5">
    <h1 class="mb-5 pb-5"><i class="bi bi-arrow-up-square-fill arrow-custom-style" (click)="scrollToTop()"
      *ngIf="screenAtTop"></i></h1>
  </div>

  <div class="container mb-5">
    <div class="row align-items-center mt-md-3 mt-1">
      <div class="col-md-6 col-sm-12">
        <h1 class="inter inter-h3">True build services</h1>
      </div>
      <div class="col-md-6 col-sm-12 text-md-end">
        <img src="../../../assets/images/home-2.svg" alt="Home page" height="400" />
      </div>
    </div>

    <div class="row mt-md-3 mt-1">
      <div class="col-md-1 col-sm-12"></div>
      <div class="col-md-10 col-sm-12">
        <div class="mb-5">
          <b>Construction: </b>The true build provide to our clients with exceptional construction services that exceed their expectations. We are committed to delivering high-quality workmanship, on-time completion, and cost-effective solutions.
        </div>
        <div class="mb-5">
          <b>Interior Design: </b>At The True Build, we believe that great design begins with understanding our clients. Our passion for creating unique, personalised spaces is matched only by our commitment to delivering designs that reflect your personality and lifestyle. Whether it’s a cosy home or a dynamic commercial space, we turn your vision into a reality, with creativity and elegance at every step.

          <div class="mb-3">
            The true build provide to our clients with exceptional construction services that exceed their expectations. We are committed to delivering high-quality workmanship, on-time completion, and cost-effective solutions.
          </div>

          <div class="mb-3">
            The true build provide to our clients with exceptional construction services that exceed their expectations. We are committed to delivering high-quality workmanship, on-time completion, and cost-effective solutions.
          </div>
        </div>
        <div class="mb-5">
          <b>Architectural Design: </b>The True Build is a full-service design and architecture firm driven by a passion for sustainable, functional spaces. We believe in designing with purpose—blending form and function to create environments that are not only beautiful but also adaptable to modern living. Our designs stand as timeless statements of innovation and integrity.
        </div>
      </div>
      <div class="col-md-1 col-sm-12"></div>
    </div>
  </div>
</main>
